.home{
  /* background-image: url('../../assets/mundo\ 2.jpg'); */
  /* background-image: url('../../assets/mundo_b_n.jpg'); */
  background-image: url('../../assets/estrellas.jpg'); 
  /* background-color: #010002;; */
  /* background-size: cover;
  background-position: center;
  height: fit-content;
   */
   background-size: cover;
   height: 120vh;
}
.home_countries{
  display: flex;
  margin-top: 2em;
}
.navBar{
  background-color: #4F7B8C;
  color: #D9B07E;
  padding: 0.4em;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.filter{
  height: fit-content;
  width: 100%;
  /* background-color: rgba(70, 43, 226, 0.251); */
  margin-top: 0.5em;
  text-align: center;
  display: flex;
  justify-content: center;
}

button{
  margin: 0 1.5em;
  padding: 0.2em 0.7em; 
}
.butActiv{
  color: #D9B07E;
  padding: 0.2em 0.4em;
  background-color: #4F7B8C;
}
.goBackHome{
  color: #D9B07E;
  background: none;
  padding: 0;
  font-size: x-large;
  text-decoration: none;
}
.activ{
  display: grid;
  position: relative;

}
#bubble{
  background-color: #4F7B8C;
  display: none;
  z-index: 1;
  top:100%;
  padding: 0.4em 0;
  border-radius: 1em;
}
.createOrShow{
  font-size: large;
  margin-bottom: 0.2em;
  padding: 0.6em ;
}
h2{
  padding: 0;
  margin: 0 -1em;
  font-size:xx-large;
}
Link{
  padding-left: 5em;
}
.countryCard{
  width: 95%;
  margin: 0.5em auto;
  display: grid;
  grid-template-columns: repeat(auto-fill,200px);
  gap: 2em;
  justify-content: center;
}
