.card{
    text-align: center;
    border: 1px solid #D9B07E;
    border-radius: 10px;
    /* backdrop-filter: blur(100px); */
    
}
.flag{
    top: 0;
    height: 40%;
    width: 60%;
    object-fit: cover;
    border-radius: 1em;
}
.card:hover{
    box-shadow: 3px 3px #4F7B8C;
    transition: 0.5ms;
}
h3, img,p{
    margin: 0.1em;
    padding: 0.3em;
    
}
.click{
    text-decoration: none;
    color: #D9B07E;
}